<div ng-controller="addProjectCtrl">
  <form novalidate>
    <div class="form-group">
      <label>Titre</label>
      <input class="form-control" ng-model="project.title" type="text">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="5" id="description" ng-model="project.description"></textarea>
    </div>

    <input class="btn btn-default" ng-click="create(project)" type="submit" value="Créer">
  </form>
  {{test}}
</div>
