<div ng-controller="TasksCtrl">
  <p><a class="btn btn-lg btn-success" ng-href="#/add-task">Ajouter une tâche <span class="glyphicon glyphicon-ok"></span></a></p>
  <table class="table table-striped">
    <tr>
      <th>Titre</th>
      <th>Projet</th>
      <th>Autheur</th>
      <th>Manager</th>
      <th>Status</th>
      <th>Date de création</th>
    </tr>
    <tr ng-repeat="">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </table>
</div>
